
body, h1, h2, ul, li, p, form {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4e4e4;
    position: relative;
    
}

.container {
    max-width: 800px;
}

.page {
    margin-left: 13cm;
    text-align: center;
}

.page label {
    text-align: left;
    font-weight: bold;

}

header {
    background-color: #333;
    color: rgb(207, 202, 202);
    height: 100vh;
    padding-left: 0.5cm;
    float: left;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header a {
    color: rgb(218, 229, 245);
    text-decoration: none;
}
nav tr {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav td {
    display: inline;
    margin-right: 20px;
}
nav a {
    display: block;
    padding-right: 5.7cm;
    padding-left: 1cm;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    background-color: rgb(26, 25, 25);
}


main {
    
    background-image:url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
    background-size: cover;
    height: 100vh;
}

section {
    padding: 40px 0;
    
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles de bouton */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
}

/* Styles des services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services-grid img {
    width: 400px;
    height: 350px;
    margin: auto;
    border: 3px solid ;
    border-radius: 10px;
}

.service img {
    max-width: 50px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service img:hover {
    transform: scale(1.1);
}

.blogs h4,p {
    text-align: left;
    margin: 20px;
}
.blogs a{
    background: rgb(44, 44, 44);
    text-decoration: none;
    color: #e9e9e9;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    float: left;
}

.blogs{
    margin: 50px;
    background-color: #fff;
    border: 2px solid #292929;
    border-radius: 5px;
    height: 188.5px;
    
}
.blogs img {
    margin: 5px;
    width: 100px;
    float: left;
    padding: 4px;
}

.blog_context{
    display: flex;
}
.blog_img{
    margin-top: 50px;
    flex-grow: 1;
    margin-right: 10px;
}
.blog_text{
    margin-top: 50px;
    margin-right: 60px;
    border:5px solid #292929;
    background-color: #e6e6e69c;
    flex-grow: 1;
}

.pos{
    display: flex;
}
/* Styles du formulaire de contact */
form label, form textarea, form input, form button {
    display: block;
    margin-bottom: 20px;
    margin-right: 70px;
    width: 90%;
}

form textarea {
    height: 150px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Styles de pied de page */
footer {
    position: absolute;
    background-color: rgb(26, 26, 26);
    color: #fff;
    text-align: right;
    width: 100%;
    margin: auto;
    bottom: 0;
}

/* Styles responsives */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav li {
        margin-right: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
